/*attires section css*/

.attire-section {
    background-color: #f0c7d3;
}

.text-center {
    text-align: center;
    color: black;
    font-size: 20px;
}

.row2 {
    margin-right: -15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}
.hidden {
    display: none;
}

.displayed {
  padding-bottom: 10px;
}

.displayed span {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 35px;
  z-index: 2;
  text-align: justify;
  font-style:oblique;
  font-weight: bold;
  letter-spacing: 3px;
}

.displayed img:hover {
    opacity: .5;
}

.displayed img {
  background: #ff5b8b;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.displayed2 {
  padding-bottom: 10px;
}

.displayed2 span {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 35px;
  z-index: 2;
  text-align: justify;
  font-style:oblique;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
}

.displayed2 img:hover {
    opacity: .5;
}

.displayed2 img {
  background: #ff5b8b;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*food section css*/

.food-section {
    background-color: white;
    color: #ff5b8b;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 5px;
}

.column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.btn-cake3 {
  padding: 3px;
}

.btn-cake2 {
  padding: 3px;
}
.btn-cake1 {
  padding: 3px;
}

.fork {
    margin: 2%;
    border-color: transparent;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px 5px 5px grey;
}

.fork img {
    height: 236px;
    width: 250px;
}

img {
    vertical-align: middle;
}

.columning {
    float: left;
    padding: 5px;
}

p.wed-cakes{
  color: pink;
}

/* Create two equal columns that floats next to each other */
.columning {
    float: left;
    padding: 5px;
}

.columning img {
    margin-top: 12px;
}

.btn-cake6 {
  padding: 3px;
}

.btn-cake5 {
  padding: 3px;
}
.btn-cake4 {
  padding: 3px;
}
