/*Styling Goes Below*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Arapey', serif;
}

/*Top bar Styles*/
#top-bar {
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  height: 40px;
  position: relative;
  color: #b3b3b3;
  -moz-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.05);
}
#top-bar .nav-social-icons {
  float: right;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}
#top-bar .top-bar-content {
  height: 100%;
  float: left;
  padding-right: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
#top-bar .top-bar-content p {
  margin: 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  font-size: 11px;
  color: #b3b3b3;
}

#top-bar .top-bar-content p span {
	margin:0 5px;
}

#top-bar .container,
#top-bar .row,
#top-bar [class*="col-"] {
  height: 100%;
}
#top-bar a {
  color: #b3b3b3;
  font-weight: 400;
}
#top-bar a:hover {
  color: #b3b3b3;
}
#top-bar p a {
	border-bottom:1px solid #b3b3b3;
}
#top-bar p a:hover {
  text-decoration: none;
}

#top-bar .top-login {
  float: right;
  position: relative;
  z-index: 101;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  padding:0 15px;
}
#top-bar .top-login ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: #333;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  padding: 5px 10px;
  display: none;
}
#top-bar .top-login ul li a {
  display: block;
  padding: 3px;
  color: #fff;
}
#top-bar .top-login:hover {
  cursor: pointer;
}
#top-bar .top-login:hover ul {
  display: block;
}

.top-login a {
	line-height:42px;
}

/* Social Icons */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.social-icons:after {
  content: "";
  display: table;
  clear: both;
}
.social-icons li {
  height: 32px;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
.social-icons li a {
  height: 32px;
  width: 32px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  background: transparent;
  -moz-transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  -o-transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  -webkit-transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  transition: background 0.2s, color 0.1s, box-shadow 0.1s;
  text-align: center;
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
  color: #919191;
}
#footer-widget-area .social-icons li a {
  -moz-box-shadow: inset 0 0 0 1px #6F6F6F;
  -webkit-box-shadow: inset 0 0 0 1px #6F6F6F;
  box-shadow: inset 0 0 0 1px #6F6F6F;
  color: #cfcfcf;

}
#footer-widget-area .social-icons li a:hover {
  text-decoration: none;
  color: #fff;
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.social-icons li a:hover {
  text-decoration: none;
  color: #fff;
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.social-icons li a i {
  display: block;
  height: 32px;
  padding: 10px 0;
  top: 0;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  position: relative;
}
.social-icons li:hover a i {
  top: -100%;
}

#top-bar .social-icons li {
  margin: 0;
}
#top-bar .social-icons li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b3b3b3;
}
#top-bar .social-icons li a:hover {
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
}
#top-bar .social-icons li a i {
  padding: 15px 0;
}
#top-bar .social-icons li, #top-bar .social-icons a, #top-bar .social-icons i {
  height: 40px;
}
.social-icons .facebook a:hover {
  background: #3B5998;
}
.social-icons .twitter a:hover {
  background: #33ccff;
}

.social-icons .google-plus a:hover {
  background: #dd4b39;
}
/*Top bar Styles*/

/*Navigation Styles*/
#header-main.affix a.navbar-brand {
  font-size: 31px !important;
  margin: 5px 0 0;
}

#header-main.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  padding: 10px 0;
  min-height: inherit;
  z-index: 999;
  background: #ffffff;
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #efefef;
}

#header-main.affix .navbar {
  margin-top: 0px;
}

#header-main.affix .navbar-nav > li > .dropdown-menu {
  margin-top: 12px !important;
}

#header-main.affix .navbar-brand img {
  width: 80%;
  margin-top: 7px;
}

#header-main.affix .navbar-brand {
  line-height: 38px;
}

#header-main {
    padding: 0px;
    position: relative;
    background-color: #FFF;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: raleway;
    z-index: 99999;
  border-bottom: 1px solid #eee;
}

#header-main .navbar-default {
  background-color: transparent;
  border: none;
}

#header-main .navbar-brand {
    padding: 7px 0 0;
}


#header-main .navbar-brand img {
    width: 113px;
    height: 46px;
}

#header-main .navbar {
  margin-bottom: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  list-style: outside none none;
  font-size: 14px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  background-clip: padding-box;
}

#header-main .yamm .nav,
  #header-main .yamm .collapse,
  #header-main .yamm .dropup,
  #header-main .yamm .dropdown {
  position: static;
}

#header-main .yamm .container {
  position: relative;
}

#header-main .yamm .dropdown-menu {
  left: auto;
  right: auto;
}


.white-wrapper .testimonial h3,
  #header-main .yamm-fw .dropdown-menu li a {
  color: #262626 !important;
}

#header-main .yamm-fw .dropdown-menu li a:before {
  font-family: "FontAwesome";
  content: "\f105";
  font-size: 13px;
  padding-right: 5px;
}

#header-main .yamm-fw .dropdown-menu li {
  list-style: none;
  padding: 0;
}

#header-main .yamm-fw .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}

#header-main .yamm .yamm-content {
  padding: 20px;
}

#header-main a:hover {
  text-decoration: none;
}

#header-main .dropdown-menu li a:focus,
  #header-main .dropdown-menu li a:active,
  #header-main .dropdown-menu li a:hover {
  background-color: #fff;
}

#header-main .yamm img {
  margin-bottom: 10px;
}

#header-main .dropdown-menu,
  #header-main .yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: none;
  margin-top: -1px;
  border: none;
  border-top: 3px solid #fff;
z-index: 999999;
}

#header-main .navbar-nav > li > a:focus,
#header-main .navbar-nav > li > a {
  color: #262626;
  padding: 35px 18px 34px;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  z-index: 99999;
}

#header-main .navbar-nav > li:hover > a ,
#header-main .navbar-nav > li > a:hover {
background:transparent !important;
}


#header-main .dropdown-menu li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 12px;
  color: #262626 !important;
  background: transparent !important;
  font-weight:500;
}

#header-main .dropdown-menu li a:hover {
  color: #8dc73f !important;
  background: #fff !important;
}

#header-main .dropdown-menu {
  padding: 0 !important;
  border-radius: 0 !important;
}

#header-main .yamm-fw .dropdown-menu li a {
  padding: 11px 0px;
  font-size: 13px;
  font-weight:500;
}

#header-main .yamm-fw .dropdown-menu li a:hover {
  background: transparent !important;
  color: #8dc73f !important;
}

#header-main .dropdown-menu li {
  float: none;
  display: block;
  margin: 0;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

#header-main .dropdown-menu li:last-child {
  border-bottom: 0;
}

#header-main .navbar-nav > li > a:hover,
  #header-main .navbar-default .navbar-nav > .open > a,
  #header-main .navbar-default .navbar-nav > .open > a:hover,
  #header-main .navbar-default .navbar-nav > .open > a:focus {
  color: #8dc73f !important;
}

#header-main .dropdown-menu,
  #header-main .yamm .dropdown.yamm-fw .dropdown-menu {
  border-top-color: #8dc73f !important;
}

#header-main .yamm h3 i,
  #header-main .yamm-fw .dropdown-menu li a:before {
  color: #8dc73f;
}

.yamm .dropdown-submenu > .dropdown-menu {
  top: 0px;
  left: 100% !important;
  margin-top: -3px !important;
  margin-left: -1px;
  border-radius: 0px 6px 6px;
}

#header-main .yamm .dropdown-menu {
  right: auto;
}

.arrow-up {
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: inline-block;
    line-height: 0;
    position: relative;
    top: -1px;
    color: #aaa;
    margin-left: 2px;
}

#header-main .navbar-nav > li > a:hover .arrow-up {
  color:#8DC73F;
}

#header-main .navbar-nav > li > a.active .arrow-up {
  color:#8DC73F;
}

.navbar-brand {
  font-family: Pacifico;
  color: #000 !important;
  margin-top: 12px;
  font-size: 35px;
}

.navbar-nav {
  float: left;
  margin: 0 0 -1px;
}
/*End of Navigation Styles*/

/*Content Styling*/
#content {
  margin-top: 40px;
}

#content > h1 {
  text-align: center;
  color: rgb(240, 199, 211);
  margin-bottom: 40px;
  font-size: 3em;
  font-family: 'Philosopher', sans-serif;
}

#content section {
  margin-bottom: 40px;
}

#introduction {
  width: 90%;
  margin-left: auto;
  margin-right: auto;  
}

#introduction p {
  font-size: 1.3em;
  margin-bottom: 20px;
}

#introduction a {
  color: rgb(240, 199, 211);
}

#introduction a:hover {
  text-decoration: none;
}

#periscope {
 width: 600px;
 height: 600px;
 border-radius: 50%;
 background-image: url(../img/periscope.jpg);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: top center;
 background-size: contain;
 margin-left: auto;
 margin-right: auto; 
 border: 10px solid rgb(240, 199, 211);
}

#services h2 {
  color: rgb(240, 199, 211);
  text-align: center;
  font-size: 2.7em;
  margin-bottom: 40px;
  font-family: 'Philosopher', sans-serif;
}
/*Content Styling Ends Here*/

/*Footer Styling Starts Here*/

footer {
  height: 100px;
  text-align: center;
  animation: colorchange 30s ease infinite;
  -webkit-animation: colorchange 30s ease infinite;
  width: 100%;
  display: flex;
  align-items: center;
}

/*footer .col-lg-6 {
  line-height: 100px;
}*/

footer .col-lg-6 p {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-family: 'Philosopher', sans-serif;
}

@keyframes colorchange
{
  0%   {background: rgb(240, 199, 211);} /*pink*/
  25%  {background: rgb(255, 0, 0);} /*red*/
  50%  {background: rgb(172, 43, 83);} /*purple*/
  75%  {background: rgb(63, 188, 205);}
  100% {background: rgb(227, 149, 125);}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: rgb(240, 199, 211);} /*pink*/
  25%  {background: rgb(255, 0, 0);} /*red*/
  50%  {background: rgb(172, 43, 83);} /*purple*/
  75%  {background: rgb(63, 188, 205);}
  100% {background: rgb(227, 149, 125);}
}

/*Footer Styling Ends Here*/